$primary_color: #ff7900;
$secondary_color: #fff;
$tertiary_color: #6c6c6c;
$light_tertiary_color: #d4d4d4;

$drk: #000;
$light-color: #f2f2f4;

$gradient_color: #CEF8D3;

$footer-bgcolor: #222;
$footer-color: #eee;

$error_form_bgcolor: #FFE1C8;
$primary-font: 'Hind', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
