$orange: #ff7900;
$grey: #6c6c6c;
$light-grey: #d4d4d4;
$white: #fff;
$drk: #000;
$light-color: #f2f2f4;
$orange-light: #FFEDDD;
$pastel_green: #CEF8D3;

$footer-bgcolor: #222;
$footer-color: #eee;

$primary-font: 'Hind', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
