@import '_variables';
@import '_mixins';

html {
  scroll-behavior: smooth;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: $secondary-font;
}


.bg_gradient {
  background-image: linear-gradient(#fff, $gradient_color, #fff, #fff);
}


h1, h3, h5 {
  font-family: $primary-font;
}

h1 {
  text: {
    align: center;
  }
  @include font-size(55px);
  font-weight: 600;

  position: relative;
  color: $primary_color;
  padding-top: 10px;
  line-height: 150px;
}

h2 {
  line-height: 20px;
  margin: 2px 0px 20px 0px;
  color: $drk;
  text: {
    align: left;
  }
  @include font-size(25px);
  font-weight: bold;
}

h3 {
  @include font-size(18px);
  line-height: 14px;
  margin-bottom: 20px;
  color: $drk;
}
// More link button
.more_link {
  display: block;
  margin: 12px 0;
  color: $tertiary_color;
  text: {
    decoration: none;
    transform: uppercase;
  }
  font: {
    weight: bold;
    @include font-size(15px);
  }
}
.more_link:hover {
  color: $primary_color;
  text-decoration: none;
}
/////////////////////////////

// Section header line
.section_header:before, .section_header:after {
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  background-color: $light-color;
  box-shadow: 0px 1px 0px $secondary_color;
  top: 50%;
  z-index:0;
}

.section_header:before{
  left: 0;
}
.section_header:after {
  right: 0;
}
// ////////////////////

// Button
.btn-primary {
  background-color: $primary_color;
  color: $secondary_color;
  border: none;
  padding: 9px 19px 10px;
}

.btn-primary:hover {
  @include box-shadow;
  font-weight: bold;
  background-color: $primary_color;
  color: $secondary_color;
}

.btn-primary:active {
  background-color: $primary_color !important;
  border-color: $primary_color;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
////////////////////////////////


// Social icons hover
.fa-facebook-f:hover{
  color: $secondary_color;
  background-color: #3b5998;
}
.fa-twitter:hover{
  color: $secondary_color;
  background-color: #00acee;
}
.fa-instagram:hover{
  color: $secondary_color;
  background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #405DE6), color-stop(1, #FD1D1D));
}
.fa-linkedin-in:hover{
  color: $secondary_color;
  background-color: #0077B5;
}
////////////////////////////////

// Top-bar padding left-right
.padding_left_none {
  padding-left: 0px;
}
.padding_right_none {
  padding-right: 0px;
}
//////////////////////////////

// Error validations form
.error {
  border: solid 1px #E85A4F!important;
  background-color: $light_tertiary_color;
}
///////////////////////////////
