@import 'variables';


body {
  font-family: $font-family-base;
}

.more-link {
  display: block;
  margin: 12px 0;
  color: $grey;
  text-decoration: none;
}
.more-link:hover {
  color: $orange;
  text-decoration: none;
}

.section_header:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: $light-color;
  box-shadow: 0px 1px 0px $bg-color;
  top: 50%;
  left: 0;
  z-index:0;
}
.section_header:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: $light-color;
  box-shadow: 0px 1px 0px $bg-color;
  top: 50%;
  right: 0;
  z-index:0;
}
