@import '_variables';
@import '_mixins';

//  ================ reset bootstrap styles
a:hover {
  text-decoration: none;
}
// ================ ======================


// Styles for footer_title and head_line
.footer_title {
  color: $footer-color;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 700;
  position: relative;
  line-height: 20px;
  .head_line {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 3px;
    background-color: $primary_color;
    margin: 0;
    font-weight: 700;
  }
}


  // Styles for ul
  .footer_list {
    padding: 0;
    margin: 0;
    list-style: none;
    span {
      color: $footer-color;
      @include font-size(15px);
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0px;
    }

    a span:hover {
      @include hover_link;
    }
  }


.footer {
  background-color: $footer-bgcolor;
  padding-top: 60px;
  color: $secondary_color;
  .footer_contact_info {
    margin-bottom: 45px;
      i {
        color: $primary_color;
        font-size: 1em;
      }

      span {
          padding-left: 11px;
      }
  }

  .footer_services {
    margin-bottom: 45px;
    a {
      text-decoration: none;
    }

    span:hover {
      @include hover_link;
    }
  }

  .footer_social {
    .footer_lets_chat {
      p {
        margin: 0;
        font-size: 0.9em;
        font-weight: 400;
        line-height: 27px;
        a{
          color: $footer-color;
          padding-bottom: 1px;
          border: 1px solid $tertiary_color;
        }

        a:hover {
          background-color: $primary_color;
          border: 1px solid $primary_color;
        }
      }
    }

    .footer_social_icons{
      margin-top: 35px;
      .social-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          margin-right: 4px;
          margin-left: 4px;
        }

        i {
          font-size: 1.4em;
          width: 36px;
          height: 36px;
          color: $secondary_color;
          line-height: 36px;
          text-align: center;
          display: block;
          border-radius: 2px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .copyright_section{
    margin-top: 20px;
    padding: 15px 0;
    letter-spacing: 0.5px;
    border-top: 1px solid $tertiary_color;
    p {
      font-size: 13px;
      color: $footer-color;
      font-style: italic;
      margin-bottom: 0;
    }

    .secondary_nav {
      list-style: none;
      float: right;
      display: flex;
      li {
        margin-left: 1em;
        padding: 0 10px;
        border-left: 1px solid $tertiary_color;

        a {
          color: $footer-color;
        }
      }

      li:first-child {
        border-left: none;
      }

      li a:hover {
        @include hover_link;
      }
    }
  }
}
