@import '_variables';
@import '_mixins';


// ================ reset bootstrap styles

h3.text-center {
  font-weight: bold;
}

// ================ ======================


// Carousel Section

.bd-example {
  .carousel-inner {
    .carousel-item {
      .img {
        background-size: cover;
        background-position: center center;
      }
      .carousel-caption {
        .text_slide1 {
          text-align: center;
          padding-bottom: 150px;
          h5 {
            @include font-size(40px);
            color: $primary_color;
            text-transform: uppercase;
          }
        }

        .text_slide2 {
          text-align: right;
          padding-bottom: 130px;
          span {
            @include font-size(60px);
          }
          h5 {
            @include font-size(40px);
            color: $primary_color;
            text-transform: uppercase;
          }
          p {
            @include font-size(30px)
          }
        }

        .text_slide3 {
          text-align: left;
          padding-bottom: 120px;
          h5 {
            @include font-size(40px);
            color: $primary_color;
            text-transform: uppercase;
          }
          p {
            @include font-size(30px);
          }
        }
      }
    }
    .drk::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $drk;
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

// About Section

.section-padded {
  padding: 5em 0;

  .bg_gradient {
    background-image: linear-gradient(#fff, $gradient_color, #fff, #fff);
    .services_list {
      list-style: none;
      text-align: center;
      padding: 0;
      .service_item {
        padding-top: 1.5em;
        margin: 50px auto 10px;
      }

      .service_item:hover .service_icon {
        color: $primary_color;
        @include text-shadow;
        @include transition(all .2s ease-in-out);
        transform: scale(1.3);
      }

      .round-box {
        margin-bottom: 50px;
        position: relative;
        z-index: 100;
        .box-inner {
          img {
            border-radius: 50%;
            width: 120px;
            height: 120px;
          }

          i {
            @include font-size(40px);
            @include text-shadow;
            color: $secondary_color;
            display: block;
            position: absolute;
            width: 1em;
            height: 1em;
            top: 50%;
            left: 50%;
            margin: {
              top: -0.5em;
              left: -0.5em;
            }
          }
        }
      }

      p {
        margin: 0 0 12px;
        color: $tertiary_color;
        @include font-size(15px);
      }

      a i {
        margin-left: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bd-example {
    .carousel-inner {
      .carousel-item {
        .carousel-caption {
          .text_slide1, .text_slide2, .text_slide3 {
            padding-bottom: 30px;
            h5 {
              @include font-size(25px);
            }
          }
          .text_slide2, .text_slide3 {
            span {
              @include font-size(30px);
            }
            p {
              @include font-size(15px);
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .bd-example {
    .carousel-inner {
      .carousel-item {
        .carousel-caption {
          .text_slide1, .text_slide2, .text_slide3 {
            padding-bottom: 12px;
            h5 {
              @include font-size(15px);
            }
          }
          .text_slide2, .text_slide3 {
            span {
              @include font-size(20px);
            }
            p {
              @include font-size(10px);
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }

  .section-padded {
    padding: 0px;
  }
}
