@import '_variables';
@import '_mixins';


// Services Section

.services_container {
  padding: {
    top: 2em;
    bottom: 1em;
  }
  margin-bottom: 1em;
  .services_element {
    padding: 35px 0px 50px 0px;
    .services_details {
      padding: 65px 15px 0px 16px;
      h3 {
        font-weight: 300;
      }

      p {
        color: $tertiary_color;
        margin: 0 0 1em;
      }

      a {
        color: $secondary_color;
      }
    }

    .services_image {
       img {
         width: 75vh;
         float: right;
         border-radius: 50%;
       }
    }
  }
}

//////////////////////////////
@media screen and (max-width: 425px) {
  h2 {
    text-align: center;
    line-height: 30px;
  }

  .services_container {
    padding: {
      top: 1em;
      bottom: 0em;
    }
    margin-bottom: 0em;
    text-align: center;
    .services_element {
      padding: 0px;
      .services_details {
        padding: 15px 15px 40px 16px;
      }

      .services_image {
         img {
           width: 75vh;
           float: none;
         }
      }
    }
  }

  .modal-content {
    .modal-body {
      .left_side {
        padding-top: 0px;
      }
      h3 {
        @include font-size(20px);
        font-weight: bold;
        padding-left: 0px;
        padding-top: 0px;
      }
    }
  }
}
