@import '_variables';
@import '_mixins';


// Services Section

.services_container {
  padding: {
    top: 2em;
    bottom: 1em;
  }
  margin-bottom: 1em;
  .services_element {
    padding: 35px 0px 50px 0px;
    .services_details {
      padding: 65px 15px 0px 16px;
      h3 {
        font-weight: 300;
      }

      p {
        color: $tertiary_color;
        margin: 0 0 1em;
      }

      a {
        color: $secondary_color;
      }
    }

    .services_image {
       img {
         width: 75vh;
         float: right;
         border-radius: 50%;
       }
    }
  }
}

//////////////////////////////


//Modal Styles
.modal-content {
  border-radius: 0.8rem;
  .modal-header {
    background-color: $primary_color;
    .modal-title {
      color: $secondary_color;
    }
    .close {
      color: $secondary_color;
    }
  }

  .modal-body {
    .left_side {
      padding-top: 45px;
    }
    h3 {
      @include font-size(20px);
      font-weight: bold;
      padding-left: 20px;
      padding-top: 10px;
    }
    ul {
      @include font-size(14px);
      li .li_head {
        font-weight: bold;
      }
    }
  }

  .btn-secondary {
    background-color: $primary_color;
    color: $secondary_color;
    border: none;
  }
  .btn-secondary:hover {
    @include box-shadow;
    font-weight: bold;
    color: $secondary_color;
    background-color: $primary_color;

  }
}
