/* line 5, ../sass/common.scss */
html {
  scroll-behavior: smooth;
}

/* line 9, ../sass/common.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 13, ../sass/common.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 18, ../sass/common.scss */
h1, h3, h5 {
  font-family: "Hind", sans-serif;
}

/* line 22, ../sass/common.scss */
h1 {
  text-align: center;
  font-size: 3.4375rem;
  font-weight: 600;
  position: relative;
  color: #ff7900;
  padding-top: 10px;
  line-height: 150px;
}

/* line 34, ../sass/common.scss */
h2 {
  line-height: 20px;
  margin: 2px 0px 20px 0px;
  color: #000;
  text-align: left;
  font-size: 1.5625rem;
  font-weight: bold;
}

/* line 45, ../sass/common.scss */
h3 {
  font-size: 1.125rem;
  line-height: 14px;
  margin-bottom: 20px;
  color: #000;
}

/* line 53, ../sass/common.scss */
.bg_gradient {
  background-image: linear-gradient(#fff, #CEF8D3, #fff, #fff);
}

/* line 59, ../sass/common.scss */
.more_link {
  display: block;
  margin: 12px 0;
  color: #6c6c6c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-font-size: 0.9375rem;
}

/* line 73, ../sass/common.scss */
.more_link:hover {
  color: #ff7900;
  text-decoration: none;
}

/* line 79, ../sass/common.scss */
.btn-primary {
  background-color: #ff7900;
  color: #fff;
  border: none;
  padding: 9px 19px 10px;
}

/* line 86, ../sass/common.scss */
.btn-primary:hover {
  -webkit-box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  -o-box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  font-weight: bold;
  background-color: #ff7900;
  color: #fff;
}

/* line 93, ../sass/common.scss */
.btn-primary:active {
  background-color: #ff7900 !important;
  border-color: #ff7900;
}

/* line 98, ../sass/common.scss */
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* line 105, ../sass/common.scss */
.fa-facebook-f:hover {
  color: #fff;
  background-color: #3b5998;
}

/* line 110, ../sass/common.scss */
.fa-twitter:hover {
  color: #fff;
  background-color: #00acee;
}

/* line 115, ../sass/common.scss */
.fa-instagram:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #405DE6), color-stop(1, #FD1D1D));
}

/* line 120, ../sass/common.scss */
.fa-linkedin-in:hover {
  color: #fff;
  background-color: #0077B5;
}

/* line 127, ../sass/common.scss */
.padding_none {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 134, ../sass/common.scss */
.error {
  border: solid 1px #E85A4F !important;
  background-color: #FFE1C8;
}

/* line 141, ../sass/common.scss */
#btnScrollToTop {
  font-size: 2.1875rem;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background: #ff7900;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: none;
  z-index: 1000;
}

/* line 159, ../sass/common.scss */
#btnScrollToTop:hover {
  opacity: 0.9;
}

/* line 163, ../sass/common.scss */
#btnScrollToTop:active {
  background-color: #6c6c6c;
}

@media screen and (max-width: 425px) {
  /* line 169, ../sass/common.scss */
  h1 {
    font-size: 2.5rem;
    line-height: 70px;
    padding-top: 20px;
  }

  /* line 175, ../sass/common.scss */
  h3 {
    font-size: 1.125rem;
    line-height: 25px;
    margin-bottom: 20px;
  }

  /* line 181, ../sass/common.scss */
  #btnScrollToTop {
    height: 30px;
    width: 30px;
    font-size: 0.9375rem;
    bottom: 10px;
    right: 10px;
  }

  /* line 191, ../sass/common.scss */
  .bg_gradient .services_list .service_item {
    margin-top: 10px;
  }
  /* line 195, ../sass/common.scss */
  .bg_gradient .services_list .round-box {
    margin-bottom: 30px;
  }
  /* line 197, ../sass/common.scss */
  .bg_gradient .services_list .round-box .box-inner img {
    width: 90px;
    height: 90px;
  }
}
