/* line 6, ../sass/despre.scss */
h3.text-center {
  font-weight: bold;
}

/* line 13, ../sass/despre.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 21, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item {
  height: 64vh;
}
/* line 22, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption {
  padding: 50px 100px;
  bottom: 20%;
}
/* line 23, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-1 {
  text-align: center;
}
/* line 24, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-1 h5 {
  font-size: 2em;
  color: #ff7900;
  text-transform: uppercase;
}
/* line 29, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-1 p {
  font-size: 1.5em;
}
/* line 35, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-2 h5 {
  font-size: 2em;
  color: #ff7900;
  text-transform: uppercase;
}
/* line 36, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-2 h5 span {
  font-size: 2.3em;
}
/* line 43, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-2 p {
  font-size: 1.5em;
}
/* line 48, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-3 h5 {
  font-size: 2em;
  color: #ff7900;
  text-transform: uppercase;
}
/* line 53, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-3 p {
  font-size: 1.5em;
}
/* line 62, ../sass/despre.scss */
.bd-example .carousel-inner .drk::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
}

/* line 79, ../sass/despre.scss */
section {
  position: relative;
}

/* line 83, ../sass/despre.scss */
.section-padded {
  padding: 2em 0;
}
/* line 84, ../sass/despre.scss */
.section-padded .container {
  padding: 0 4em;
}
/* line 85, ../sass/despre.scss */
.section-padded .container .section-header {
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  color: #6c6c6c;
}
/* line 86, ../sass/despre.scss */
.section-padded .container .section-header h1 {
  text-transform: uppercase;
  font-size: 2em;
}
/* line 87, ../sass/despre.scss */
.section-padded .container .section-header h1 span {
  font-weight: bold;
  color: #000;
}
/* line 99, ../sass/despre.scss */
.section-padded .container .section-header:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: #f2f2f4;
  box-shadow: 0px 1px 0px #fff;
  top: 50%;
  left: 0;
  z-index: 0;
}
/* line 110, ../sass/despre.scss */
.section-padded .container .section-header:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #f2f2f4;
  box-shadow: 0px 1px 0px #fff;
  top: 50%;
  right: 0;
  z-index: 0;
}
/* line 121, ../sass/despre.scss */
.section-padded .container .unstyled {
  margin-left: 0;
  list-style: none;
  padding: 0;
}
/* line 122, ../sass/despre.scss */
.section-padded .container .unstyled .round-box {
  text-align: center;
  margin-bottom: 12px;
  position: relative;
  z-index: 100;
}
/* line 123, ../sass/despre.scss */
.section-padded .container .unstyled .round-box .box-inner {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
}
/* line 124, ../sass/despre.scss */
.section-padded .container .unstyled .round-box .box-inner img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  vertical-align: middle;
  border: 0;
}
/* line 131, ../sass/despre.scss */
.section-padded .container .unstyled .round-box .box-inner i {
  font-size: 40px;
  color: white;
  line-height: 1em;
  text-shadow: 2px 2px 2px black;
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
}
/* line 157, ../sass/despre.scss */
.section-padded .container .unstyled h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
  color: #000;
  text-transform: uppercase;
}
/* line 164, ../sass/despre.scss */
.section-padded .container .unstyled h3:hover {
  color: #ff7900;
}
/* line 168, ../sass/despre.scss */
.section-padded .container .unstyled p {
  margin: 0 0 12px;
  color: #6c6c6c;
}
/* line 172, ../sass/despre.scss */
.section-padded .container .unstyled a {
  color: #6c6c6c;
  text-decoration: none;
}
/* line 176, ../sass/despre.scss */
.section-padded .container .unstyled a:hover {
  color: #ff7900;
}
/* line 179, ../sass/despre.scss */
.section-padded .container .unstyled .more-link {
  display: block;
  margin: 12px 0;
}
