/* line 6, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item {
  height: 64vh;
}
/* line 7, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption {
  padding: 50px 100px;
  bottom: 20%;
}
/* line 8, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-1 {
  text-align: center;
}
/* line 9, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-1 h5 {
  font-size: 2em;
  color: #ff7900;
  text-transform: uppercase;
}
/* line 14, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-1 p {
  font-size: 1.5em;
}
/* line 20, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-2 h5 {
  font-size: 2em;
  color: #ff7900;
  text-transform: uppercase;
}
/* line 21, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-2 h5 span {
  font-size: 2.3em;
}
/* line 28, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-2 p {
  font-size: 1.5em;
}
/* line 33, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-3 h5 {
  font-size: 2em;
  color: #ff7900;
  text-transform: uppercase;
}
/* line 38, ../sass/despre.scss */
.bd-example .carousel-inner .carousel-item .carousel-caption .text-slide-3 p {
  font-size: 1.5em;
}
/* line 47, ../sass/despre.scss */
.bd-example .carousel-inner .drk::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
}
