/* line 5, ../sass/footer.scss */
a:hover {
  text-decoration: none;
}

/* line 12, ../sass/footer.scss */
.footer_title {
  color: #eee;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 700;
  position: relative;
  line-height: 20px;
}
/* line 21, ../sass/footer.scss */
.footer_title .head_line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ff7900;
  margin: 0;
  font-weight: 700;
}

/* line 36, ../sass/footer.scss */
.footer_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 40, ../sass/footer.scss */
.footer_list span {
  color: #eee;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
}
/* line 48, ../sass/footer.scss */
.footer_list a span:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ff7900;
  transition: all 0.3s ease;
}

/* line 54, ../sass/footer.scss */
.footer {
  background-color: #222;
  padding-top: 60px;
  color: #fff;
}
/* line 58, ../sass/footer.scss */
.footer .footer_contact_info {
  margin-bottom: 45px;
}
/* line 60, ../sass/footer.scss */
.footer .footer_contact_info i {
  color: #ff7900;
  font-size: 1em;
}
/* line 65, ../sass/footer.scss */
.footer .footer_contact_info span {
  padding-left: 11px;
}
/* line 70, ../sass/footer.scss */
.footer .footer_services {
  margin-bottom: 45px;
}
/* line 72, ../sass/footer.scss */
.footer .footer_services a {
  text-decoration: none;
}
/* line 76, ../sass/footer.scss */
.footer .footer_services span:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ff7900;
  transition: all 0.3s ease;
}
/* line 83, ../sass/footer.scss */
.footer .footer_social .footer_lets_chat p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 27px;
}
/* line 88, ../sass/footer.scss */
.footer .footer_social .footer_lets_chat p a {
  color: #eee;
  padding-bottom: 1px;
  border: 1px solid #6c6c6c;
}
/* line 94, ../sass/footer.scss */
.footer .footer_social .footer_lets_chat p a:hover {
  background-color: #ff7900;
  border: 1px solid #ff7900;
}
/* line 101, ../sass/footer.scss */
.footer .footer_social .footer_social_icons {
  margin-top: 35px;
}
/* line 103, ../sass/footer.scss */
.footer .footer_social .footer_social_icons .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 107, ../sass/footer.scss */
.footer .footer_social .footer_social_icons .social-list li {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}
/* line 113, ../sass/footer.scss */
.footer .footer_social .footer_social_icons .social-list i {
  font-size: 1.4em;
  width: 36px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
/* line 128, ../sass/footer.scss */
.footer .copyright_section {
  margin-top: 20px;
  padding: 15px 0;
  letter-spacing: 0.5px;
  border-top: 1px solid #6c6c6c;
}
/* line 133, ../sass/footer.scss */
.footer .copyright_section p {
  font-size: 13px;
  color: #eee;
  font-style: italic;
  margin-bottom: 0;
}
/* line 140, ../sass/footer.scss */
.footer .copyright_section .secondary_nav {
  list-style: none;
  float: right;
  display: flex;
}
/* line 144, ../sass/footer.scss */
.footer .copyright_section .secondary_nav li {
  margin-left: 1em;
  padding: 0 10px;
  border-left: 1px solid #6c6c6c;
}
/* line 149, ../sass/footer.scss */
.footer .copyright_section .secondary_nav li a {
  color: #eee;
}
/* line 154, ../sass/footer.scss */
.footer .copyright_section .secondary_nav li:first-child {
  border-left: none;
}
/* line 158, ../sass/footer.scss */
.footer .copyright_section .secondary_nav li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ff7900;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  /* line 168, ../sass/footer.scss */
  .footer .copyright_section .secondary_nav {
    padding-left: 0px;
  }
}
@media screen and (max-width: 425px) {
  /* line 176, ../sass/footer.scss */
  .footer {
    padding-top: 30px;
  }
  /* line 179, ../sass/footer.scss */
  .footer .copyright_section .secondary_nav {
    padding-top: 10px;
    padding-left: 0px;
    float: none;
  }
  /* line 183, ../sass/footer.scss */
  .footer .copyright_section .secondary_nav li {
    font-size: 0.875rem;
  }
}
