/* line 7, ../sass/navbar.scss */
.navbar-light {
  padding: 0;
}
/* line 9, ../sass/navbar.scss */
.navbar-light .nav-logo {
  margin: 0;
}
/* line 10, ../sass/navbar.scss */
.navbar-light .nav-logo img {
  max-width: 100%;
  height: auto;
}
/* line 17, ../sass/navbar.scss */
.navbar-light .navbar-nav .nav-link {
  color: #6c6c6c;
}

/* line 26, ../sass/navbar.scss */
.colored_background {
  background-color: #fff;
}
/* line 28, ../sass/navbar.scss */
.colored_background .nav-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.875rem;
}
/* line 38, ../sass/navbar.scss */
.colored_background .nav-container .top-bar {
  border-bottom: 1px solid #d4d4d4;
  opacity: 0.6;
}
/* line 41, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .contact-details {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}
/* line 47, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .contact-details li:first-child a:before {
  display: none;
}
/* line 51, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .contact-details a {
  color: #6c6c6c;
  font-size: 0.75rem;
  line-height: 32px;
}
/* line 55, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .contact-details a i {
  margin-right: 7px;
}
/* line 60, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .contact-details a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ff7900;
  transition: all 0.3s ease;
}
/* line 64, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .contact-details a:before {
  position: relative;
  content: "|";
  margin: 0 3px;
  color: #6c6c6c;
}
/* line 71, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list {
  margin-bottom: 0px;
  float: right;
  list-style: none;
  display: inline-flex;
}
/* line 76, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list li:last-child a i {
  border-right: 1px solid #d4d4d4;
}
/* line 80, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list li a i {
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  text-align: center;
  line-height: 33px;
  height: 33px;
  width: 34px;
  color: #6c6c6c;
}
/* line 92, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list .fa-facebook-f:hover {
  background-color: #3b5998;
  color: #fff;
}
/* line 97, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list .fa-twitter:hover {
  background-color: #00acee;
  color: #fff;
}
/* line 102, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list .fa-instagram:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #405DE6), color-stop(1, #FD1D1D));
  color: #fff;
}
/* line 107, ../sass/navbar.scss */
.colored_background .nav-container .top-bar .social-list .fa-linkedin-in:hover {
  background-color: #0077B5;
  color: #fff;
}

/* line 117, ../sass/navbar.scss */
.nav-list .nav-item {
  font-size: 0.875rem;
  font-weight: 300;
  padding: 28px 15px;
}
/* line 122, ../sass/navbar.scss */
.nav-list .nav-item .nav-link {
  color: #6c6c6c;
  font-weight: 900;
}
/* line 127, ../sass/navbar.scss */
.nav-list .nav-item .nav-link.active {
  color: #ff7900;
  border-bottom: 2px solid #ff7900;
}
/* line 132, ../sass/navbar.scss */
.nav-list .nav-item .nav-link:hover {
  color: #ff7900;
  border-bottom: 2px solid #ff7900;
}

@media screen and (max-width: 425px) {
  /* line 141, ../sass/navbar.scss */
  .colored_background .nav-container .top-bar .social-list {
    float: none;
    padding: 0px;
  }

  /* line 145, ../sass/navbar.scss */
  .nav-list .nav-item {
    padding: 5px;
  }
}
