/* line 7, ../sass/services.scss */
.services_container {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 13, ../sass/services.scss */
.services_container .services_element {
  padding: 35px 0px 50px 0px;
}
/* line 15, ../sass/services.scss */
.services_container .services_element .services_details {
  padding: 65px 15px 0px 16px;
}
/* line 17, ../sass/services.scss */
.services_container .services_element .services_details h3 {
  font-weight: 300;
}
/* line 21, ../sass/services.scss */
.services_container .services_element .services_details p {
  color: #6c6c6c;
  margin: 0 0 1em;
}
/* line 26, ../sass/services.scss */
.services_container .services_element .services_details a {
  color: #fff;
}
/* line 32, ../sass/services.scss */
.services_container .services_element .services_image img {
  width: 75vh;
  float: right;
  border-radius: 50%;
}

/* line 45, ../sass/services.scss */
.modal-content {
  border-radius: 0.8rem;
}
/* line 47, ../sass/services.scss */
.modal-content .modal-header {
  background-color: #ff7900;
}
/* line 49, ../sass/services.scss */
.modal-content .modal-header .modal-title {
  color: #fff;
}
/* line 52, ../sass/services.scss */
.modal-content .modal-header .close {
  color: #fff;
}
/* line 58, ../sass/services.scss */
.modal-content .modal-body .left_side {
  padding-top: 45px;
}
/* line 61, ../sass/services.scss */
.modal-content .modal-body h3 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
}
/* line 67, ../sass/services.scss */
.modal-content .modal-body ul {
  font-size: 0.875rem;
}
/* line 69, ../sass/services.scss */
.modal-content .modal-body ul li .li_head {
  font-weight: bold;
}
/* line 75, ../sass/services.scss */
.modal-content .btn-secondary {
  background-color: #ff7900;
  color: #fff;
  border: none;
}
/* line 80, ../sass/services.scss */
.modal-content .btn-secondary:hover {
  -webkit-box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  -o-box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 3px 5px 20px -5px rgba(0, 0, 0, 0.58);
  font-weight: bold;
  color: #fff;
  background-color: #ff7900;
}
