/* line 7, ../sass/services.scss */
.services_container {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 13, ../sass/services.scss */
.services_container .services_element {
  padding: 35px 0px 50px 0px;
}
/* line 15, ../sass/services.scss */
.services_container .services_element .services_details {
  padding: 65px 15px 0px 16px;
}
/* line 17, ../sass/services.scss */
.services_container .services_element .services_details h3 {
  font-weight: 300;
}
/* line 21, ../sass/services.scss */
.services_container .services_element .services_details p {
  color: #6c6c6c;
  margin: 0 0 1em;
}
/* line 26, ../sass/services.scss */
.services_container .services_element .services_details a {
  color: #fff;
}
/* line 32, ../sass/services.scss */
.services_container .services_element .services_image img {
  width: 75vh;
  float: right;
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
  /* line 43, ../sass/services.scss */
  h2 {
    text-align: center;
    line-height: 30px;
  }

  /* line 48, ../sass/services.scss */
  .services_container {
    padding-top: 1em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    text-align: center;
  }
  /* line 55, ../sass/services.scss */
  .services_container .services_element {
    padding: 0px;
  }
  /* line 57, ../sass/services.scss */
  .services_container .services_element .services_details {
    padding: 15px 15px 40px 16px;
  }
  /* line 62, ../sass/services.scss */
  .services_container .services_element .services_image img {
    width: 75vh;
    float: none;
  }

  /* line 72, ../sass/services.scss */
  .modal-content .modal-body .left_side {
    padding-top: 0px;
  }
  /* line 75, ../sass/services.scss */
  .modal-content .modal-body h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 0px;
  }
}
